css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333333;
  background-color: #fffAf5;
  line-height: 1.6;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: start;
    align-items: center;
}

.lien ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    list-style: none; 
}

.lien ul li a {
    text-decoration: none;
}

.conviviale{
    display: flex;
    align-items: center;
}

.imageresto {
    width: 100%;
    height: 500px;
    position: relative;
}

.cercle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: orangered;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chef {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#menu{
    margin-bottom: 50px;
}
.saveurs{
    display: flex;
    justify-content: center;
}
.signatures{
    display: flex;
    justify-content: center;
}

.carte {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.carousel{
    width: 100%;
    height: 400px;
    max-width: 700px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin: 0 auto;
}

.diapo{
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.diapo img{
    height: 400px;
    min-width: 100%;
    object-fit: cover;
}

.fleche-precedent,
.fleche-suivant{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    font-size: 16px;
    cursor: pointer;
}

.fleche-precedent{
    left: 15px;
}
.fleche-suivant{
    right: 15px;
}

.points{
   display: flex;
   position: absolute;
   bottom: 15px;
   left: 50% ;
   gap: 15px;
   transform: translateX(-50%);
   z-index: 2;
}

.point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.point.actif{
    background-color: orangered;
}

.avis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#avis{
    margin-bottom: 50px;
}

.espace{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 25px;
}

.profil{
    display: flex;
    justify-content: center;
}

.nom{
    text-align: center;
}

.comment{
    text-align: center;
}

.etoile{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.about{
    display: flex;
}

.imageabout img{
    height: 100%;
    width: 100%;
    min-width: 700px;
    max-height: 500px;
    object-fit: cover;
    
}

.chiffres{
    margin-left: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.histoire h1{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

.nombre{
    color:  orangered;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

.recensement{
    display: flex;
    justify-content: space-around;
}

.plats{
    display: flex;
    flex-direction: column;
}
.experience{
    display: flex;
    flex-direction: column;
}
.authentique{
    display: flex;
    flex-direction: column;
}

.ligne{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr ;
   
}

.contact-liste div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.details h2,
.details p{
    color: #ffffff;
}

.details{
    width: 500px;
}

.contact-liste img {
  filter: brightness(0) invert(1);
  opacity: 0.3;
}

.contact-liste div {
    color: #ffffff;
}

.reference h2 {
    color: #ffffff;
}

.follow h2{
    color: #ffffff;
}

.follow p {
  filter: brightness(0) invert(1);
  opacity: 0.3;
}


#contact{
    background-color: black;
    padding: 80px 95px;
}

.titre2{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

#about {
    padding: 80px 95px;
}

.envie{
    text-align: center;
}
.envie h2,
.envie p{
    color: orangered ;
}

#galerie{
    background-color: #222;
    height: 410px;
    padding: 80px 95px;
}

#avis{
    padding: 80px 95px;
}
#avis h1{
    font-weight: bolder;
    text-decoration: underline;
}

.carteavis1{
    padding: 25px 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.carteavis1:hover{
    transform: translateY(-8px);
    box-shadow: 0 13px 20px rgba(0, 0, 0, 0.20);
}
.carteavis1 p{
    text-align: center;
}
.carteavis1 .un,
.carteavis1 .deux,
.carteavis1 .trois,
.carteavis1 .quatre,
.carteavis1 .cinq{
    fill: rgb(201, 201, 0);
}

.carteavis2{
    padding: 25px 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.carteavis2:hover{
    transform: translateY(-8px);
    box-shadow: 0 13px 20px rgba(0, 0, 0, 0.20);
}
.carteavis2 p{
    text-align: center;
}
.carteavis2 .un,
.carteavis2 .deux,
.carteavis2 .trois,
.carteavis2 .quatre{
    fill: rgb(201, 201, 0);
}

.carteavis3{
    padding: 25px 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.carteavis3:hover{
    transform: translateY(-8px);
    box-shadow: 0 13px 20px rgba(0, 0, 0, 0.20);
}
.carteavis3 p{
    text-align: center;
}
.carteavis3 .un,
.carteavis3 .deux,
.carteavis3 .trois{
    fill: rgb(201, 201, 0);
}

.carteavis4{
    padding: 25px 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.carteavis4:hover{
    transform: translateY(-8px);
    box-shadow: 0 13px 20px rgba(0, 0, 0, 0.20);
}
.carteavis4 p{
    text-align: center;
}
.carteavis4 .un,
.carteavis4 .deux,
.carteavis4 .trois,
.carteavis4 .quatre{
    fill: rgb(201, 201, 0);
}

.carteavis5{
    padding: 25px 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.carteavis5:hover{
    transform: translateY(-8px);
    box-shadow: 0 13px 20px rgba(0, 0, 0, 0.20);
}
.carteavis5 p{
    text-align: center;
}
.carteavis5 .un,
.carteavis5 .deux,
.carteavis5 .trois,
.carteavis5 .quatre,
.carteavis5 .cinq{
    fill: rgb(201, 201, 0);
}

#menu{
    padding: 80px 55px;
}
#menu h2{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}

.image1,.image2,.image3,.image4,
.image5,.image6,.image7,.image8{
    position: relative;
}

.prix1,.prix2,.prix3,.prix4,
.prix5,.prix6,.prix7,.prix8{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: orangered;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
}

.carte1,.carte2,.carte3,.carte4,
.carte5,.carte6,.carte7,.carte8{
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.10);
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.carte1:hover,.carte2:hover,.carte3:hover,.carte4:hover,
.carte5:hover,.carte6:hover,.carte7:hover,.carte8:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.10);
}

@keyframes apparition {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}


#acceuil{
    padding: 40px 75px ;
}

.titre h1{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bolder;
    animation: apparition 1s ease forwards;
}
.titre p{
   animation: apparition 1.6s ease forwards; 
}
.papille{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

.nav{
    box-shadow: 0 0 20px rgba(0,0,0,0.10);
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
}

.lien ul li a{
    color: #000;
    transition: color 0.2s ease;
}

.lien ul li a:hover{
    color: orangered;
}

.imageabout {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}
.imageabout.visible {
    opacity: 1;
    transform: translateY(0);
}

.copyright p {
    text-align: center;
    color: #bbbbbb;
}

.copyright{
    margin-top: 50px;
}

@media(max-width:1300px){
    #menu{
        padding: 60px 20px;
    }

    #about{
        padding: 60px 10px;
    }
    #avis{
        padding: 60px 10px;
    }
    #acceuil{
        padding: 60px 20px;
    }

    
}

@media(max-width:1265px){
    #menu{
        padding: 60px 20px;
    }
}


@media(max-width:1035px){
    #acceuil{
        padding: 40px 20px;
    }
    .lien ul{
        margin: 14px 0;
        flex-wrap: wrap;
    }

    .conviviale{
        flex-direction: column;
    }
    .conviviale h1{
        text-align: center;
    }

    .carte {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    #avis{
        padding: 60px 20px;
    }

    .espace{
        grid-template-columns: repeat(3,1fr);
    }

    #about{
        padding:50px 20px ;
    }

    .about{
        display: flex;
        flex-direction: column;
    }

    .histoire h1{
        text-align: center;
    }

    #contact{
        padding: 60px 10px ;
    }

    .details{
        width: 350px;
    }

}


@media(max-width:768px){
    .logo span{
        font-size: 14px;
    }

    .lien ul{
        margin: 14px 0;
        flex-wrap: wrap;
    }

    .conviviale{
        flex-direction: column;
    }

    .conviviale h1{
        text-align: center;
    }

    .carte {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    #menu{
        padding: 80px 70px ;
    }

    #avis{
        padding: 80px 70px ;
    }

    .espace{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
    }

    .about{
        display: flex;
        flex-direction: column;
    }
    #about{
        padding: 80px 15px;
    }

    .histoire h1{
        text-align: center;
    }

    .ligne{
        display: flex;
        flex-direction: column;
    }
}


@media (min-width: 355px) and (max-width:480px){
    #acceuil{
        padding: 40px 20px ;
    }

    .lien ul{
        padding: 0 0 0 20px;
    }

    .cercle{
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }

    #menu{
        padding: 50px 20px;
    }

    #menu h2{
        text-align: center;
    }

    .carte{
        grid-template-columns: repeat(1,1fr);
    }

    .carte1,.carte2,.carte3,.carte4,.carte5,.carte6,.carte7,.carte8{
        text-align: center;
    }

    #galerie{
        padding: 40px 20px;
    }

    #avis{
        padding: 50px 20px;
    }

    .espace{
        grid-template-columns: repeat(1,1fr);
    }

    .imageabout img{
        min-width: 100%;
    }

    .chiffres{
        margin-left: 0;
    }

    #contact{
        padding: 60px 20px;
    }
    
    .details{
        width: 100%;
    }
}


