css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Poppins', sans-serif;
  color: #333333;
  background-color: #ffffff;
  line-height: 1.6;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: start;
    align-items: center;
}

.lien ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    list-style: none; 
}

.lien ul li a {
    text-decoration: none;
}

.conviviale{
    display: flex;
    align-items: center;
}

.imageresto {
    width: 100%;
    height: 500px;
    position: relative;
}

.cercle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: orangered;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chef {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#menu{
    margin-bottom: 50px;
}
.saveurs{
    display: flex;
    justify-content: center;
}
.signatures{
    display: flex;
    justify-content: center;
}

.carte {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.carousel{
    width: 100%;
    height: 400px;
    max-width: 700px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin: 0 auto;
}

.diapo{
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5 ease-in-out;
}

.diapo img{
    height: 400px;
    min-width: 100%;
    object-fit: cover;
}

.fleche-precedent,
.fleche-suivant{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    font-size: 16px;
    cursor: pointer;
}

.fleche-precedent{
    left: 15px;
}
.fleche-suivant{
    right: 15px;
}

.points{
   display: flex;
   position: absolute;
   bottom: 15px;
   left: 50% ;
   gap: 15px;
   transform: translateX(-50%);
   z-index: 2;
}

.point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.avis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#avis{
    margin-bottom: 50px;
}

.espace{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 25px;
}

.carteavis1{
    border-radius: 8px;
    background-color: rgba(114, 23, 23, 0.6);
}

.profil{
    display: flex;
    justify-content: center;
}

.nom{
    text-align: center;
}

.comment{
    text-align: center;
}

.etoile{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.about{
    display: flex;
}

.imageabout img{
    height: 100%;
    width: 100%;
    min-width: 700px;
    max-height: 500px;
    object-fit: cover;
    
}
.histoire h1 , 
.histoire p {
    text-align: center;   
}

.recensement{
    display: flex;
    justify-content: space-around;
}

.plats{
    display: flex;
    flex-direction: column;
}
.experience{
    display: flex;
    flex-direction: column;
}
.authentique{
    display: flex;
    flex-direction: column;
}

.ligne{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr ;
   
}

.contact-liste div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.details h2,
.details p{
    color: #ffffff;
}

.details{
    width: 500px;
}

.contact-liste img {
  filter: brightness(0) invert(1);
  opacity: 0.3;
}

.contact-liste div {
    color: #ffffff;
}

.reference h2 {
    color: #ffffff;
}

.follow h2{
    color: #ffffff;
}

.follow p {
  filter: brightness(0) invert(1);
  opacity: 0.3;
}


#contact{
    background-color: black;
    padding: 80px 95px;
}

#about {
    padding: 80px 95px;
}